/* BODY, CONTAINER, AND DISPLAY-NONE (FOR PAGE-TURN EFFECT) */

body {
  font-family: "Source Sans Pro", sans-serif;

  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; */
}

.question-num {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
  /* font-style: italic; */
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  /* -webkit-text-stroke: 1px black; */
}

h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-top: 15px;
}

p,
button {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

hr {
  width: 40px;
  margin: 50px auto 50px auto;
}

/* LOGO */

.logo {
  width: 90vw;
  max-width: 160px;
  margin: 20px;
}

/* ANSWER BUTTONS (DEFAULT VERSION INCLUDES IMAGES) */

button {
  cursor: pointer;
  /* min-height: 2.5em; */
  font-size: 0.98em;
  margin-bottom: 1em;
  width: 40vw;
  max-width: 158px;
  min-width: 130px;
  background-color: transparent;
  /* background: rgb(253, 253, 253); */
  border: 2px solid transparent;
  /* box-shadow: 1px 1px 1px grey; */
  transition-duration: 100ms;
  border-radius: 10px;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  flex-wrap: wrap;
}

.flex-buttons > button {
  margin: 5px;
}

.flex-question {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

.button-image {
  display: block;
  margin: 20px auto 20px auto;
  width: 66%;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 1px 1px 1px grey;
}

.button-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.question-of {
  display: none;
}

.text-button {
  width: 400px;
  max-width: 80vw;
  min-height: 2.5em;
  background: rgb(253, 253, 253);
  box-shadow: 1px 1px 1px grey;
  padding: 10px;
}

button:hover {
  background: #ff0000;
  color: white;
  transform: translateY(-3px);
  transition-duration: 100ms;
}

.select {
  border: 2px solid #ff0000;
}

/* PROGRESS BAR (CIRCLES) */

.circle {
  color: white;
  font-size: 16px;
  /* padding-top: 2px; */
  margin: 20px 3px;
  height: 20px;
  width: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  display: inline-block;
  cursor: not-allowed;
  text-align: center;
  box-sizing: border-box;
}

.filled {
  background-color: #ff0000;
  cursor: pointer;
}

#progress-bar {
  width: 100%;
  height: 6px;
  background: linear-gradient(
      90deg,
      rgb(255, 0, 0) 0% 0%,
      rgb(238, 238, 238) 0% 100%
    )
    50% 50% / 6em 6em no-repeat;
  position: relative;
  margin: -36.7px 0 0 0;
  z-index: -10;
}

@media only screen and (max-width: 164px) {
  #progress-bar {
    display: none;
  }
}

/* PAGE-TURN BUTTONS */

.flex-page-turn {
  /* fill: #ae3a30; */
  /* font-size: 1.4em; */
  display: flex;
  justify-content: center;
  /* padding: 2px; */
  cursor: pointer;
}

#turn-back,
#turn-forward {
  max-height: 20px;
  padding: 10px 20px;
  max-width: 15px;
}

.faded {
  cursor: not-allowed;
  opacity: 0.2;
  /* fill: rgb(238, 238, 238); */
  stroke: rgb(238, 238, 238);
}

/* RESET BUTTON */

#reset {
  /* color: rgb(155, 155, 155); */
  opacity: 0.3;
  margin-top: 7px;
}

#reset,
#reveal-all {
  cursor: pointer;
  font-style: italic;
}

#reset:hover,
#reveal-all:hover {
  text-decoration: underline;
}

#reveal-text {
  margin: 20px 5px 20px 5px;
}

/* LOADING ANIMATION
credit: https//loading.io/css/ */

#lds-animation {
  padding-bottom: 15px;
}

.lds-off {
  display: none;
}

.lds-on {
  display: block;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.question-num {
  color: #ff0000;
}

#progress-text {
  color: #ff0000;
}

.white-border {
  /* background: black; */
  border: 1.5px solid black;
  box-shadow: 1px 1px 1px grey;
}

h3 {
  margin: 0;
}

.explanation {
  margin: 0 auto;
  max-width: 460px;
  min-width: 200px;
  /* padding: 20px 40px; */
  /* border: 1px solid lightgrey; */
}

.explanation > p {
  font-family: "Rubik", sans-serif;
  /* font-size: 2rem; */
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ff0000;
}

/* Results Table */

#results-table {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #eee;
}

td {
  padding: 4px 7px;
}

td {
  vertical-align: top;
  text-align: left;
}
