body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

svg.logo {
  width: 160px;
  margin: 20px;
}

.container {
  text-align: center;
}

button {
  cursor: pointer;
  height: 2.5em;
  font-size: 0.98em;
  margin-bottom: 1em;
  width: 400px;
  background: rgb(253, 253, 253);
  border: none;
  box-shadow: 1px 1px 1px grey;
  transition-duration: 100ms;
  border-radius: 10px;
}

button:hover {
  background: darkcyan;
  color: white;
  border: none;
  transform: translateY(-3px);
  transition-duration: 100ms;
}

.select {
  /* font-size: 30px; */
  border: 2px solid darkcyan;
  background: darkcyan;
  color: white;
}

.display-none {
  display: none;
}

.circle {
  margin-top: 20px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.filled {
  background-color: darkcyan;
}

.faded {
  color: grey;
}
